* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    text-align: center;
    padding: 1vw;
    box-shadow: 0.5vw 0.5vw 0.5vw black;
}
header > h1 {
    font-size: 3vw;
    padding: 0.5vw;
}
header > p {
    font-size: 2vw;
    padding: 1vw;
}

main {
    max-width: 100vw;
    margin: 1vw auto;
    padding: 1vw;
}

#recipe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}
.recipe-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0.5vw 0.5vw 0.5vw black;
    padding: 1.5rem;
    width: 300px;
    transition: 1.5s;
}
.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0.5vw 0.5vw 0.5vw black;
}
.recipe-card h3 {
    color: maroon;
    font-size: 2vw;
}
.recipe-meta {
    display: flexbox;
    gap: 1.5rem;
}
.recipe-card p {
    color: blue;
    line-height: 5vw;
}

.difficulty {
    padding: 1vw;
    border-radius: 12px;
    font-size: 1.5vw;
    font-weight: bold;
}
.difficulty.easy {
    background: #d4edda;
    color: #155724;
}
.difficulty.medium {
    background: #fff3cd;
    color: #856404;
}
.difficulty.hard {
    background: #f8d7da;
    color: #721c24;
}